
.like {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 10px;

}

.like img {
    width: 70%;
    cursor: pointer;
    margin-right: 10px;
}

.like span {
    font-size: 16px;
    color: #5d5d5d;
}

.like__inner {
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(227, 227, 227, 0.55);
}