.posts {
    background: white;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 30px;
}

.posts__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    margin-bottom: 10px;

}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}