.ButtonSend {
    margin-top: 10px;
    font-size: 18px;
    padding: 8px 80px;
    border: 1px solid rgba(128, 128, 128, 0.27);
    border-radius: 15px;
    background-color: white;
    color: #5d5d5d;
}

.ButtonSend:hover {
    background-color: #ab697d;
}