.ButtonSend {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    padding: 8px 80px;
    border: 1px solid rgba(128, 128, 128, 0.27);
    border-radius: 15px;
    background-color: white;
    color: #5d5d5d;
    transition: 0.2s;
}

.ButtonSend:hover {
    transition: 0.2s;
    color: white;
    background-color: #9889d1;
}