.users {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 620px;
    background: rgb(255 255 255);
    padding: 10px 15px;
    border-radius: 5px;
}

.users__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin-right: -15px;
    margin-top: -10px;
}

.user {
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.27);
    margin-top: 10px;
    margin-right: 15px;
    height: 150px;
}

.users img {
    width: 100px;
    height: 100px;
}
